.input-box-small {
    top: 70px !important;
    transition: .3s ease;
}

.app-inputbox {
    position: fixed;
    top: 240px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 3;
    width: 35vw;
    transition: .3s ease;

    .main-input {
        font-family: 'Montserrat';
        position: relative;
        z-index: 3;
        height: 80px;
        border: 2px solid transparent;
        background-color: #fff;
        padding-left: 1.5em;
        font-size: 20px;
        font-weight: 500;
        color: #333; 

        &:hover {
            border: 2px solid transparent;
        }

        &:focus {
            border: 2px solid transparent;
            box-shadow: 0 0 0 2px rgba(109, 107, 228, 0.2);
        }
    }

    .dummy-input {
        position: absolute;
        left: 0;
        z-index: 0;
        box-shadow: 0 10px 50px rgba(17, 17, 17, 0.35);
    }


    &:hover .dummy-input {
        box-shadow: 0 10px 25px rgba(17, 17, 17, 0.35) !important;
    
    }


    .main-button {
        font-family: 'Montserrat';
        font-weight: 500;
        border: none;
        background: linear-gradient(-45deg, #514A9D, #24C6DC);
        color: #f5f5f5;
        width: 100px;
        right: 1.5em;
        height: 40px;
        z-index: 4;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);

        &:hover {
            background: linear-gradient(-45deg, #514A9D, #24C6DC);
            opacity: 0.8;
            transition: .3s ease;
        }

        &:focus {
            border: none;
            box-shadow: 0 0 0 3px rgba(109, 107, 228, 0.5);
        }
    }
}

@media only screen and (max-width: 500px) {
    .app-inputbox {
        width: 95vw;
    }

    .input-box-small {
        top: 90px !important;
        transition: .3s ease;
    }
  }

  @media only screen and (max-width: 1200px) {
    .app-inputbox {
        width: 80vw;
    }

    .input-box-small {
        top: 90px !important;
        transition: .3s ease;
    }
  }

  @media only screen and (max-width: 500px) {
    .app-inputbox {
        width: 95vw;

        .main-input {
            font-size: 14px;
        }
    }

    .input-box-small {
        top: 90px !important;
        transition: .3s ease;
    }
  }