.app-theme-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .theme-switch-text {
        opacity: 0.8;
        color: #fff;
        font-weight: 500;
        margin: 0;
        position: relative;
        top: -1px;
    }

    .theme-icon {
        margin-right: 10px;
    }

    .app-switch {
        margin-left: .5em;
    }
}

@media only screen and (max-width: 500px) {
    .app-theme-switcher {
        font-size: 12px;
    }
  }