.app-theme-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(17, 17, 17, 0.35);
    padding: 10px 25px;
    border-radius: 0.375rem;
    z-index: 10;
    position: absolute;
    top: 2em;
    right: 2em;

    .theme-switch-text {
        opacity: 0.8;
        font-weight: 500;
        margin: 0;
        position: relative;
        top: -1px;
    }

    .theme-icon {
        margin-right: 10px;
    }

    .app-switch {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 500px) {
    .app-theme-switcher {
        font-size: 12px;
        top: 1em;
        right: 1em;
    }
  }