.content-wrapper {
    margin-top: 360px;
}

.loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(45deg, #514a9d, #4b3cff);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: #fff;
        margin-top: 1em;
        text-align: center;
        max-width: 30ch;
    }
}

.placeholder-map {
    margin-top: 360px;
    height: 600px;
    width: 100vw;
    background-image: url("../../assets/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 2;
    position: relative;
    top: -80px;

    .map-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, #514a9d, #24c6dc);
    }
}

.general-content {
    position: relative;
    top: -140px;
    box-shadow: 0 0 50px rgba(17, 17, 17, 0.12);
    border-radius: 5px;
    padding: 1.5em;
    justify-content: space-between;
    display: flex;
    width: 60%;
    margin: 0 auto;

    .details-list {
        display: flex;
        width: 100%;
        flex-direction: column;

        .details-list-item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #2f2d41;
            padding: 20px 0;
            margin-bottom: 15px;

            &:last-child {
                border: none;
            }

            .list-item-title {
                color: #4b3cff;
                font-family: "Sora", sans-serif;
                margin-right: 2em;
                font-weight: 700;
            }

            .list-item-descrip {
                font-family: "Sora", sans-serif;
            }
        }
    }
}

.content-section-title {
    width: 60%;
    margin: 0 auto;
    color: #4b3cff;
    z-index: 2;
    position: relative;
    top: -100px;

    .section-title {
        margin: 2em 0;
        font-size: 30px;
        font-family: "Sora", sans-serif;
        font-weight: 700;
    }
}

.content-flag {
    width: 250px;
    position: absolute;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(17, 17, 17, 0.35);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 2em;
    bottom: 2em;
    left: 50%;
    transform: translatex(-50%);
    z-index: 999;

    .flag-img {
        border-radius: 5px;
    }

    .street-link {
        display: flex;
        align-items: center;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        background: #4b3cff !important;
        border-radius: 5px;
        padding: 7px 15px;

        i {
            font-size: 15px;
            margin-right: 5px;
        }
    }
}

.download-container {
    width: 60%;
    margin: 0 auto;
    height: 100px;
    position: relative;
    top: -50px;
    display: flex;
    align-items: flex-start;

    .download-button {
        font-family: "Sora", sans-serif;
        font-weight: 500;
        border: none;
        background: #4b3cff !important;
        color: #f5f5f5;
        padding: 15px 25px;
        z-index: 4;
        border-radius: 5px;
        transition: 0.3s ease;
        margin-right: .5em;
        transform: translatey(-50%);

        span {
            font-size: 14px;
            opacity: 0.5;
        }

        &:hover {
            opacity: 0.8 !important;
            transition: 0.3s ease;
        }

        &:focus {
            border: none;
            box-shadow: 0 0 0 3px rgba(109, 107, 228, 0.5);
        }
    }
}

.pdf-title {
    margin-bottom: 2em;
}

@media only screen and (max-width: 1200px) {
    .content-section-title {
        width: 80%;
    }

    .download-container {
        width: 80%;
    }

    .general-content {
        width: 80%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 500px) {
    .content-section-title {
        width: 95%;
    }

    .download-container {
        width: 95%;
    }

    .general-content {
        width: 95%;
    }
}
