@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import '/node_modules/eva-icons/style/eva-icons.css';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #cfcfcf;
}

body {
  overflow-x: hidden;
  color: #333 !important;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  min-height: 400px;
  position: relative;
  top: -80px;
  z-index: 2;
  opacity: 1;
}

body.dark-mode .leaflet-container {
  opacity: 0.85;
}

body.dark-mode .section-title {
  color: #f5f5f5;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #182130;
  color: #f5f5f5;
}

body.dark-mode .main-input {
  background-color: #182130;
  color: #f5f5f5;
}

body.dark-mode .app-theme-switcher {
  background-color: #1e2d40;
  color: #f5f5f5;
}

body.dark-mode .app-logo {
  background-color: #1e2d40;
  color: #f5f5f5;
}

body.dark-mode .header-overlay {
  background: -webkit-linear-gradient(-45deg, #514A9D, #24C6DC);
  background: linear-gradient(-45deg, #514A9D, #24C6DC);
}

span.chakra-switch__track {
  &:focus {
    box-shadow: 0 0 0 3px rgba(66, 201, 225, 0.6) !important;
  }
}

body.dark-mode .chakra-stat__label {
  font-family: 'Montserrat';
  color: #f5f5f5;
}

body.dark-mode .general-content {
  background-color: #1e2d40;
}

body.dark-mode .list-item-descrip {
  color: #f5f5f5;
  
}

body.dark-mode .content-flag {
  background-color: #182130;
}

@media only screen and (max-width: 1200px) {
  .chakra-stat {
    margin-bottom: 1em;
  }
}

.chakra-stat {
  font-family: 'Montserrat';
  display: flex !important;
  justify-content: center !important;
}

.chakra-stat__number {
  font-family: 'Montserrat';
  color: #24C6DC;
}


body.dark-mode .main-button {
  border: none;
  background: linear-gradient(-45deg, #514A9D, #24C6DC);
  color: #f5f5f5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
